<% if options[:development] -%>
require 'bundler'
Bundler.require
<% end -%>

require 'neutron/app'
require File.expand_path('../backend.rb', __FILE__)

app = Neutron::App.new(controller: Backend.new)
app.run
